:root {
  --primaryColor: #af9a7d;
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --lightYellow: #ffffe0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  height: 100%;
  margin-bottom: 60px;
}

.text-title {
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.btn-black {
  background: transparent;
  color: var(--mainDark);
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.4rem;
  color: #fafafa;
}

.cart-icon:hover {
  color: var(--mainYellow) !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-link {
  text-decoration: none !important;
}

/*modal*/
/*end modal*/

.footer-area {
  padding: 2.5rem 0 3.7rem 0;
  background: #262626;
  color: #fff;
}

.footer-h3 {
  font-weight: 500;
  color: #fafafa;
}

.link-area li {
  padding: 0.3rem 0.3rem 0.3rem 0;
  list-style: none;
}

.link-area li a {
  text-transform: capitalize;
  color: #ddd;
  text-decoration: none;
}

.link-area li a:hover {
  color: #fff;
}

.contact-icons {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
}

.contact-icons:hover {
  color: lightgreen;
}

.footer-social li a {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background: #000;
}

.footer-social li a:hover {
  background: #262626;
}

.footer-icons:hover {
  color: #fafafa;
}

.footer-icons {
  color: #fafafa;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.footer-icons:hover {
  color: lightblue;
}

.copyright-area {
  background: #000;
  padding: 1.9rem 0;
  margin-top: 1.9rem;
  border-radius: 5px;
}

.copyright-area p {
  font-weight: 600;
  color: #fafafa;
}

.carousel-inner .item {
  height: 100vh;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.links-icons {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

/*hero*/
.banner {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
/*end hero*/

/*contact page */
.card {
  max-height: 18rem;
}

.card-body a {
  text-decoration: none !important;
  color: var(--mainDark) !important;
}

.card-icon {
  font-size: 5rem;
  color: var(--lightBlue);
}

.gray-text {
  color: #7a7676;
}

.time-list {
  list-style-type: none;
  margin-left: auto;
}

.time-list li {
  margin-bottom: 8px;
  text-decoration: none;
}

.time-list li span {
  display: inline-block;
  width: auto;
}

.time-list .week-name {
  min-width: 180px;
}

.text-error {
  color: red;
  font-size: 1rem;
}

.has-error {
  border-color: red !important;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}

.form-control:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
/*end contact page */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
}
